---
import Layout from "@layouts/Layout.astro";
import Navigation from "@components/Navigation.astro";
import Intro from "@components/Intro.astro";
import Benefits from "@components/Benefits.astro";
import CallToAction from "@components/CallToAction.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
  <header>
    <Navigation />
    <Intro />
  </header>

  <main>
    <Benefits />
    <CallToAction />
  </main>

  <Footer />
</Layout>

<style>
  header {
    background-color: var(--color-pale-cyan);
    background-image: url("../assets/images/bg-hero-mobile.svg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media only screen and (min-width: 1024px) {
    header {
      background-image: url("../assets/images/bg-hero-desktop.svg");
    }
  }
</style>
