---
import illustrationMockups from "../assets/images/illustration-mockups.svg";
---

<section class="container">
  <div>
    <h1>Build The Community Your Fans Will Love</h1>

    <p>
      Huddle re-imagines the way we build communities. You have a voice, but so
      does your audience. Create connections with your users as you engage in
      genuine discussion.
    </p>

    <button>Get Started For Free</button>
  </div>
  <img
    src=`${import.meta.env.REPO_NAME}${illustrationMockups.src}`
    alt="Illustration of Mockups"
  />
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 4.25rem;
  }

  div {
    text-align: center;
  }

  h1 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  button {
    background-color: var(--color-pink);
    color: white;
    border: none;
    padding: 0.625rem 3.5rem;
    border-radius: 2rem;
    font-size: 0.66rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    margin-bottom: 3rem;
  }

  button:hover {
    cursor: pointer;
    background-color: hsl(322deg 100% 66% / 65%);
  }

  @media only screen and (min-width: 1024px) {
    section {
      margin-top: 4rem;
      display: grid;
      grid-template-columns: 4.5fr 5.5fr;
      padding-bottom: 3.5rem;
      padding-left: 0;
      padding-right: 0;
    }

    div {
      text-align: left;
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    img {
      grid-column: 2 / 3;
    }

    h1 {
      font-size: 2rem;
      width: 75%;
    }

    p {
      width: 92.5%;
      font-size: 1rem;
    }

    button {
      width: 50%;
      padding: 1rem 3rem;
      font-size: 0.75rem;
    }
  }
</style>
