---
import brandLogo from "../assets/images/logo.svg";
---

<nav>
  <a href="/">
    <img
      src=`${import.meta.env.REPO_NAME}${brandLogo.src}`
      alt="Logo of Huddle"
    />
  </a>
  <ul>
    <li>
      <button>Try It Free</button>
    </li>
  </ul>
</nav>
